<h1><%= @welcome_message %></h1>


<div class= "container m-auto text-center">
<h1>Timer</h1>

  <div id="clock">
    <h2 id="time-display">00:00:00.000</h2>
    <div id="controls">
      <!-- <button id="start-btn" class="btn btn-primary">Start</button>
      <button id="stop-btn" class="btn btn-secondary">Stop</button>
      <button id="reset-btn" class="btn btn-danger">Reset</button> -->

      <button id="checkin-btn" class="btn btn-success">Check In</button>
      <button id="checkout-btn" class="btn btn-danger">Check Out</button>
    </div>
  </div>

  <div id="clock">
    <h2 id="break-time-display">00:00:00.000</h2>
    <div id="controls">
      <button id="break-btn" class="btn btn-warning">Break Time</button>
    </div>
  </div>

  <div id="clock">
    <h2 id="meeting-time-display">00:00:00.000</h2>
    <div id="controls">
      <button id="meeting-btn" class="btn btn-dark">Meeting Time</button>
    </div>
  </div>

</div>
